
.topo {
    background: #2d1b45;
    color: #2ab108;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo {
    font-weight: bold;
    font-size: 1.2rem;
}

.sidebar {
    background: #070707;
    min-height: 100vh;
}

.sidebar a {
    text-decoration: none;
    color: #f1f1f1;
    font-weight: bold;
    display: block;
    padding: 8px 0;
}

.card {
    border-radius: 8px;
    color: #efecf3;
    background: #2d1b45;
}

.card h3 {
    color: #128141;
}

.rodape {
    background: #2d1b45;
    color: #fff;
    text-align: center;
    padding: 10px;
}